.flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  @extend .flex-layout;
  padding: $base-spacing $base-spacing * 2;
  box-shadow: $base-box-shadow;

  .site-title {
    font-size: $font-size-lg;
  }
}
