// colors
$primary-color: #326dee;
$secondary-color: #1ac888;
$error-color: #d32752;
$info-color: #f6c31c;

// spacing
$base-spacing: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;
