// colors
$primary-color: #326dee;
$secondary-color: #1ac888;
$error-color: #d32752;
$info-color: #f6c31c;

// color pallette
$colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "error": $error-color,
  "info": $info-color,
  "blue": #1919e6,
  "red": #e61919,
  "yellow": #e6e619,
  "green": #19e635,
  "orange": #ffa600,
  "purple": #9900ff,
  "gray": #808080,
  "black": black,
  "white": white,
);

/* @debug map-get($colors, "purple");
@debug map-has-key($colors, "secondary");
@debug map-has-key($colors, "tertiary");
@debug map-remove($colors, "primary");
@debug map-merge(
  $colors,
  (
    "pink": #ffc0cb,
  )
);
  */

// spacing
$base-spacing: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

// font-size
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
